# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environment
.env
venv/
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# IDEs
.idea/

